* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: rgba(20, 20, 20, 0.2);
}

aside {
  width: 30%;
  min-width: 210px;
  /*  margin: auto; */
  padding: 15px;
  background: rgba(20, 20, 20, 0.2);
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 25px;
}

header {
  display: flex;
  margin-bottom: 50px;
  padding: 15px;
  background: rgba(20, 20, 20, 0.2);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav {
  width: 100%;
  padding: 10px;
  flex-wrap: wrap;
}

header nav {
  display: flex;
  flex-wrap: wrap;
}

aside nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

aside nav a p {
  border-bottom: 2px solid rgba(20, 20, 20, 0.1);
}

main {
  width: 70%;
  min-width: 210px;
  padding: 15px;
  background: rgba(20, 20, 20, 0.2);
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 25px;
}

footer {
  padding: 15px;
  background: rgba(20, 20, 20, 0.2);
  min-width: 210px;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}

article {
  width: 50%;
  padding: 15px;
  /*   margin: auto; */
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 210px;
}

article p {
  text-align: justify;
}

a,
h1,
h2,
h3,
p {
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

a p {
  margin: 0;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  color: white;
  background: rgba(20, 20, 20, 0.2);
}

a:hover{
  background: rgba(20, 20, 20, 0.3);
}

#titreP {
  margin: 15px;
  text-align: center;
  font-size: 2.5em;
}

h1,
h2 {
  text-align: center;
}

#sectionP {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

h2,
h3,
h1 {
  width: 100%;
}

/* ATTENTION SI ON AJOUTE DES SECTIONS */

main section {
  display: flex;
  flex-wrap: wrap;
  min-width: 210px;
  align-content: stretch;
  justify-content: center;
  background: rgba(20, 20, 20, 0.2);
  margin-bottom: 20px;
}

p {
  padding: 15px;
  text-align: center;
}

h3 {
  text-align: center;
}

#articleP {
  width: 100%;
  text-align: center;
}

#logo {
  width: 10%;
  height: auto;
  min-width: 100px;
}

article img {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}

section#formP {
  width: 50%;
  flex-shrink: 1;
  flex-grow: 1;
}

form {
  width: 80%;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-top: 2px;
  margin-bottom: 5px;
}

textarea {
  min-height: 100px;
}

label,
button {
  font-family: sans-serif;
}

button {
  padding: 10px;
  background: rgba(20, 20, 20, 0.3);
  border: none;
  color: white;
  
}

button:hover{
  background: rgba(0, 60, 0, 0.5);
}
/*insertion tableau dans aside*/

table {
  width: 100%;
}

th,
td {
  background: rgba(20, 20, 20, 0.2);
  padding: 10px;
}