* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

aside {
  width: 30%;
  min-width: 210px;
  /*  margin: auto; */
  padding: 15px;
  background: #b8e994;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 25px;
}

header {
  display: flex;
  margin-bottom: 50px;
  padding: 15px;
  background: #e55039;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

nav {
  width: 100%;
  padding: 15px;
  flex-wrap: wrap;
}

main {
  width: 70%;
  min-width: 210px;
  padding: 15px;
  background: #F8EFBA;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 25px;
}

footer {
  padding: 15px;
  background: #D6A2E8;
  min-width: 210px;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}

article {
  width: 50%;
  padding: 15px;
  /*   margin: auto; */
  background: #fffa65;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 210px;
}

a,
h1,
h2,
h3,
p {
  font-family: sans-serif;
}

a p {
  margin: 0;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}

#titreP {
  margin: 15px;
  text-align: center;
  font-size: 2.5em;
}

h1,
h2 {
  text-align: center;
}

#sectionP {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#navP {
  display: flex;
  flex-wrap: wrap;
}

a:hover {
  background: olive;
}

h2,
h3,
h1 {
  width: 100%;
}

/* ATTENTION SI ON AJOUTE DES SECTIONS */

main section {
  display: flex;
  flex-wrap: wrap;
  min-width: 210px;
  align-content: stretch;
}

  p {
    padding: 15px;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  #articleP {
    width: 100%;
    text-align: center;
  }

  #logo {
    width: 10%;
    height: auto;
    min-width: 100px;
  }

  article img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
  }